body {
    text-rendering: optimizeLegibility;
    font-family: "Lucida Grande", Verdana, sans-serif;
    overflow-x: hidden;
}
h1,h2,h3{
    margin: 0;
}
/*
gray:    #8b929c;
dgray:   #5e6070;
purple:  #514454;
dpurple: #3b313d;
magenta: #ff2479;
*/
/* Colors */
/* Background */
body {
    background-color: #8b929c
}
.page {
    z-index: 1;
    box-shadow: 0 0 3px 3px #777;
    margin-top: 6px;
    position: relative;
}
/* Headers */
article h3 {
    background-color: #3b313d;
    color: #936070;
}
/* Links */
article li > a, li > a:visited {
    color: #3b313d;
}
/* Hover */
article li:hover a {
    background: #514454;
    color: #ff2479;
}

.cursive {
    font-family: 'Ruge Boogie', cursive;
}

.page {
    width: 468px;
    margin: 0 auto;

}

/* Layout */
h2 {
    text-align: center;
    padding-top: .5em;
}

article h3 {
    padding-left: 2em;
    margin: 0;
}

.description, .header {
    padding: 0;
    margin: .5em 1em .5em;
}
.header {
    padding: 0 0 .5em;
}

.header img {
    vertical-align: middle;
    margin-right: 1em;
}
article ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
article li > a {
    text-indent: 7px;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 2em;
    font-weight: bold;
}


/* Snow flakes */
.heart::before, .heart::after {

    position: absolute;
    content: '';

    background: #fc2e5a;
    left: 1.2em;
    top: 0;
    width: 1.2em;
    height: 2em;
    
    border-radius: 2em 2em 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);

    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
             transform-rigin: 0 100%;
}
.heart::before {

}
.heart::after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate( 45deg );
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
             transform-rigin: 100% 100%;
}
.heart {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    z-index: 0;

    -webkit-perspective: -1000px;
    -webkit-animation-name: fall, swing;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal, alternate;
    -webkit-animation-duration: 15s, 3s;
    -webkit-animation-timing-function: ease-in-out;

    -moz-perspective: -1000px;
    -moz-animation-name: fall, swing;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal, alternate;
    -moz-animation-duration: 15s, 3s;
    -moz-animation-timing-function: ease-in-out;

    perspective: -1000px;
    animation-name: fall, swing;
    animation-iteration-count: infinite;
    animation-direction: normal, alternate;
    animation-duration: 15s, 3s;
    animation-timing-function: ease-in-out;
}
.heart:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes swing {
    from {
        left: 1em;
        -webkit-transform: rotateY( -90deg );
        transform: rotateY( -90deg );
    }
    to {
        left: 4em;
        -webkit-transform: rotateY( 90deg );
        transform: rotateY( 90deg );
    }
}
@-webkit-keyframes fall {
    from {
        top: 10px
    }
    to {
        top: 1000px;
    }
}
@-moz-keyframes swing {
    from {
        left: 1em;
        -moz-transform: rotateY( -90deg );
        transform: rotateY( -90deg );
    }
    to {
        left: 4em;
        -moz-transform: rotateY( 90deg );
        transform: rotateY( 90deg );
    }
}
@-moz-keyframes fall {
    from {
        top: 10px
    }
    to {
        top: 1000px;
    }
}

/*
Media Queries
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

.hide {
    display: none;
}
.fb_button {
    background:#29447E url(https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/FGFbc80dUKj.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    outline: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
}
.modal{
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 0;
}
